/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
  width: auto;
  height: 100px;
  margin-right: 20px;
}

h1 {
  font-size: 32px;
  margin: 0;
}

.layout-buttons {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.layout-buttons button {
  background-color: #00bcd4; /* Teal */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.layout-buttons button:hover {
  background-color: #0097a7; /* Darker teal */
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.layout-buttons button:active {
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-content {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

#cards-container {
  flex: 1;
  margin-right: 10px;
}

#deckList {
  flex: 1;
  margin-left: 10px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.loading-spinner {
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
  color: #00bcd4; /* Teal */
}